@import './styles/variables.css';
@import './styles/helpers.css';
@import './styles/skeleton.css';

body {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 920px;
  margin-inline: auto;
  scrollbar-color: var(--color-primary) var(--color-background-light);
}

@media (prefers-color-scheme: dark) {
  body {
    --color-primary: #C7D9EE;
    --color-secondary: #8AF7F0;
    --color-tertiary: #6F9DF8;
    --color-background-off-white: #eef4fa;
    scrollbar-color: var(--color-tertiary) var(--color-background-light);

  }
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}


input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  margin: 10px;
}

button,
select {
  min-width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-text-dark);
  background-color: var(--color-background-off-white);
  border-radius: 100px;
  box-shadow: 0px 4px 4px 0px var(--color-shadow);
  cursor: pointer;
  margin: 10px 0;
  text-align: center;
}

select {
  border-right: 16px solid transparent
}

button:hover,
select:hover {
  background-color: var(--color-background-off-white)
}