@import './styles/variables.css';
@import './styles/helpers.css';
@import './styles/skeleton.css';
@import './styles/fonts.css';
@import './styles/themes.css';


html {
  scrollbar-color: unset;
}

body {
  background-color: var(--color-primary);
  color: var(--color-text-dark);
  font-size: 16px;
  font-family: var(--font-family);
  padding: var(--spacing-sm);
  width: 100%;
  max-width: 920px;
  margin-inline: auto;
  scrollbar-color: var(--color-icon-tertiary) var(--color-background-light);
  transition: background-color .5s ease-out;
}


* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: var(--spacing-md);
  line-height: var(--line-height);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}