:root {
  /* Colors */
  --color-white: #FFFFFF;
  --color-light-gray: #f8f9fa;
  --color-gray: #484848;
  --color-dark-gray: #343a40;
  --color-shadow: #48484840;
  --color-blue: #3768C6;
  --color-orange: #F77C55;
  --color-light-orange: #FFC9AB;
  --color-gradient: linear-gradient(#f78a95, #f8b36f);
  --color-yellow: #F7A655;
  --color-off-white-transparent: rgba(255,255,255, 0.7);
  --color-off-white: #ffefe6;
  --box-shadow: 0px 4px 4px 0px var(--color-shadow);


  /* Spacing */
  --default-spacing: 1rem;

  /* Fonts */
  --font-family: 'Open Sans', sans-serif;
  --font-size: 16px;
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --line-height: 1.6;
  --letter-spacing: 0.1rem;
}